/****************************************************Element selector***************************************************************/
body {
    color: 40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a {
    color: #11999E;
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
hr {
    border-top: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
p {
    line-height: 2em;
}
/****************************************************Class selectord**************************************************************/
.h2topmar {
    margin-top: 0px;
}
.pro {
    text-decoration: underline;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 130px;
}
.middle-container {
    margin: 100px 0;
}
.bottom-container {
    background-color: #6FBFBF;
    padding: 50px 0 20px;
}
.fotterparagraph {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.contact-me {
    margin: 100px 0 100px 0;
}
.intro {
    width: 30%;
    margin: auto;
}
.contact-message {
    margin: 40px auto 60px;
    width: 40%;
}
.cloud-top {
    position: absolute;
    right: 300px;
    top: 50px;
 }
 .cloud-bottom {
    position: absolute; 
    left: 250px;
    bottom: 300px;
 }
 .dp {
    width: 15%;
    height: 15%;
 }
 .skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}
.beer {
    width: 23%;
    float: right;
    padding-left: 30px ;
}
.computer {
    width: 25%;
    float: left;
    padding-right: 30px;
} 


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2BC4A);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4a);
  text-decoration: none;
}